@model IEnumerable<User> 
@{
    ViewData["Title"] = "User List";
}

<div class="container p-3">
    <div class="row pt-3">
        <div class="col-6">
            <h2 class="text-secondary">User Lists</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="User" asp-action="Create" class="btn btn-primary">
               <b>Create New Category</b>
            </a>
        </div>
    </div>
</div>

<table class="table table-stripped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>
                User Name
            </th>
            <th>
                User Email
            </th>
            <th>
                User Type
            </th>
        </tr>
    </thead>
    @foreach (var obj in Model)
    {
        <tr>
            <td width="50%">
                @obj.Name
            </td>
            <td width="30%">
                @obj.EmailAddress
            </td>
            <td width="30%">
                @obj.UserType
            </td>
            
        </tr>
    }
    <tbody>

    </tbody>
</table>