

@model Category
@{
    ViewData["Title"] = "Create New Category";
}

 <partial name=_Notification />


<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-secondary">Create New Category</h2>
            <hr />
        </div>
        <div asp-validation-summary="All" class="text-warning"></div>
        <div class="mb-3">
            <label asp-for="ProductName"></label>
            <input asp-for="ProductName" class="form-control" />
            <span asp-validation-for="ProductName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="ProductPrice"></label>
            <input asp-for="ProductPrice" class="form-control" />
            <span asp-validation-for="ProductPrice" class="text-danger"></span>
        </div>
    </div>
    <button type="submit" class="btn btn-primary" style="width:150px">Create</button>
    <a class="btn btn-danger" asp-action="Index" asp-controller="Category">Back</a>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
       
    }
}
